* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(257, 40%, 49%);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 90%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin: 3rem auto;
  gap: 2rem;
}

.img-box {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.logo {
  width: 25%;
}

.main-img {
  width: 90%;
}

.description {
  align-self: center;
  justify-self: start;
  color: #fffffff3;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.main-heading {
  font-size: 4rem;
  margin-right: 4rem;
  font-family: "Poppins", sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -.5px;
}

.text {
  font-size: 1.8rem;
  line-height: 1.6;
}

.btn {
  width: 38%;
  font-size: 1.8rem;
  padding: 1.5rem;
  border-radius: 100px;
  border: none;
  color: hsl(257, 40%, 49%);
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(300, 69%, 71%);
  color: #fff;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.icons {
  display: flex;
  gap: 2rem;
  justify-self: center;
  grid-column: 3;
}

.icon {
  font-size: 1.8rem;
  color: #fff;
  border: 2px solid;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.icon:hover {
  color: hsl(300, 69%, 71%);
}

.fa-facebook-f {
  padding: 1rem 1.4rem;
}

.fa-twitter {
  padding: 1rem;
}

.fa-instagram {
  padding: 1rem 1.1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #fffffff3;
  grid-column: 2;
  grid-row: 1;
  align-self: center;
}

.attribution a {
  color: hsl(229, 31%, 67%);
}

@media (min-width: 501px) {
  body {
    background-image: url("images/bg-desktop.svg");
  }
}

@media (max-width: 500px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    text-align: center;
    margin: 0 auto;
    gap: 3rem;
  }

  .img-box {
    width: 100%;
    padding: 3rem 1.6rem;
    gap: 4rem;
    background-image: url('images/bg-mobile.svg');
    background-size: cover;
  }

  .main-img {
    width: 90%;
    margin: 0 auto;
  }

  .description {
    padding: 2rem 5.5rem;
  }

  .main-heading {
    font-size: 3rem;
    margin: 0;
  }

  .text {
    font-size: 1.6rem;
  }

  .btn {
    width: 60%;
    margin: 0 auto;
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 6.4rem;
  }

  .attribution {
    margin-bottom: 1rem;
  }
}